* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html[data-theme="boring"] {
    --bg: #ffffff;
    --text: #000000;
    --accent: #9cdbff;
    --accent-2: #ffe24a;
}
html[data-theme="fun"] {
    --bg: #a800ff;
    --text: #d0b5ff;
    --accent: #ffe237;
    --accent-2: #00ff04;
}

body {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
#form {
    background: #e6e6e6;
    padding: 20px;
    display: flex;
    gap: 10px;
    width: 1000px;
    input {
        width: 100%;
        &.input {
            padding: 5px;
        }
    }
    button {
        background: var(--accent);
        flex-shrink: 0;
        border: none;
        padding: 5px 20px;
        cursor: pointer;
    }
}

#viewport {
    position: relative;
    width: 600px;
    height: 400px;
    border: 1px solid black;
    background: var(--bg);
    overflow: clip;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.square {
    position: relative;
    width: 60px;
    height: 60px;
    background: var(--accent);
}
.text {
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--bg);
}
.circle {
    width: 80px;
    height: 80px;
    border-radius: 9999px;
    background: var(--accent);
}

.hidden {
    opacity: 0;
    pointer-events: none;
}
.big {
    transform: scale(4);
}
.blurred {
    filter: blur(30px);
}
.disabled {
    opacity: 0.2;
    pointer-events: none;
}
.colored {
    background-color: var(--accent-2);
}
